@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MyGL</h1>
</div>
@if (Model.AccountCount is 0)
{
    <a asp-page="/Accounts/Create">Create Account</a>
}
else
if (Model.Stats.Count is 0)
{
    <a asp-page="/Import/Index">Import Transactions</a>
}
else
{
    <h4>Stats</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Account
                </th>
                <th>
                    Date
                </th>
                <th>
                    Total Transactions
                </th>
                <th>
                    Total Uncategorised
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Stats)
        {
            @if (item.Account.AccountName == "Total")
                {
                    <thead>
                <tr>
                    <th>
                        Total
                    </th>
                    <th>
                        @item.FromDate - @item.ToDate
                    </th>
                    <th>
                        @item.TransCount
                    </th>
                    <th>
                        <a asp-page="/Uncategorised/Index"> @item.UncategorisedCount</a>
                    </th>
                </tr>
                        </thead>
                }
                else
                {
                    <tr>
                        <td>
                            <a asp-page="/Accounts/Details" asp-route-id="@item.Account.Id">@item.Account.AccountName</a>
                        </td>
                        <td>
                            @item.FromDate - @item.ToDate
                        </td>
                        <td>
                            @item.TransCount
                        </td>
                        <td>
                            @item.UncategorisedCount
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}