@page
@model MyGL.Pages.CategoryConditions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category Condition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryCondition.SearchString)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryCondition.SearchString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryCondition.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryCondition.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CategoryCondition.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
