@page
@model MyGL.Pages.CategoryConditions.IndexModel

@{
    ViewData["Title"] = "Category Conditions";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryCondition[0].SearchString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryCondition[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CategoryCondition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SearchString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategorySubCategory)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
