@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MyGL</h1>
</div>

<h4>Stats</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Account
            </th>
            <th>
                Latest Transaction
            </th>
            <th>
                Total Transactions
            </th>
            <th>
                Total Uncategorised
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stats)
        {
            @if (item.Account.AccountName == "Total")
                {
                    <thead>
                <tr>
                    <th>
                        Total
                    </th>
                    <th>
                        @item.LatestTrans
                    </th>
                    <th>
                        @item.TransCount
                    </th>
                    <th>
                        <a asp-page="/Uncategorised/Index"> @item.UncategorisedCount</a>
                    </th>
                </tr>
                        </thead>
                }
                else
                {
                    <tr>
                        <td>
                            <a asp-page="/Accounts/Details" asp-route-id="@item.Account.Id">@item.Account.AccountName</a>
                        </td>
                        <td>
                            @item.LatestTrans
                        </td>
                        <td>
                            @item.TransCount
                        </td>
                        <td>
                            <a asp-page="/Uncategorised/Index"> @item.UncategorisedCount</a>
                        </td>
                    </tr>
                }
         }
    </tbody>
</table>
 